.heading {
    border: solid black 2px;
    height: 60px;
    background-image: linear-gradient(black, rgb(54, 52, 52), black);
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    padding-top: 10px;
}

h2 {
    font-size: 16px;
    padding-top: 10px;
}

.maindisplay {
    height: calc(100vh - 100px);
    overflow: auto;
    background: black;
}

.gamehud {
    height: 60%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;

}

#r1 {
    height: 100%;
}

.gameinfo {
    background: url("../images/Monitor.png");
    background-size: 100% 100%;
    height: 100%;
}

#instructions {
    font-size: 14px;
}

.gamedisplay {
    background: url("../images/Monitor.png");
    background-size: 100% 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.hangman {
    height: 70%;
    width: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}

#hangmanImg {
    width: 50%;
    height: 75%;

}

.theword {
    height: 20%;
    width: 90%;
    position: absolute;
    top: 76%;
    left: 5%;
}

.usedletters {
    background: url("../images/Monitor.png");
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    overflow: wrap;
}

.guesses {
    width: 95%;
    height: 50%;
    overflow: auto;
}

#audio {
    height: 20%;
    width: 100%;
    bottom: 25px;
}

.btn {
    background-color: black;
    color: white;
    border: solid white 1px;
}

.keyboard {
    height: 40%;
    margin-bottom: 15px;
    text-align: center;
    background: black;
}

#toprow, #middlerow, #bottomrow {
    height: 33.33%;
    background: #444444;
    font-size: 24px;
    line-height: 46px;
    color: #ffffff;
}

#middlerow {
    margin-left: 5%;
    margin-right: 5%;
}

#bottomrow {
    margin-left: 10%;
    margin-right: 10%;
}

#qkey, #wkey, #ekey, #rkey, #tkey, #ykey,
#ukey, #ikey, #okey, #pkey, #akey, #skey,
#dkey, #fkey, #gkey, #hkey, #jkey, #kkey,
#lkey, #zkey, #xkey, #ckey, #vkey, #bkey, #nkey, #mkey {
    border: solid rgb(22, 22, 22) 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.key:hover {
    cursor: pointer;
}

.footing {
    height: 35px;
    position: fixed;
    bottom: 0px;
    text-align: center;
}